# Пока работаем по IP (без домена)
:80 {
    # Раздаем статические файлы из папки /srv внутри контейнера
    handle / {
        root * /srv
        file_server
    }

    handle /transcriber/* {
        uri strip_prefix /transcriber
        reverse_proxy transcriber:8000   # ← Имя + внутренний порт
    }

    log {
        output stdout
    }
}

# Когда появится домен
# demo1.mydomen.ru {
#     reverse_proxy demo1:8000
# }
