# Пока работаем по IP (без домена)
:80 {
    # Раздаем статические файлы из папки /srv внутри контейнера
    handle / {
        root * /srv
        file_server

	}
    log {
        output stdout
    }

}


:8080 {
    reverse_proxy transcriber:8000
    log {
        output stdout
    }
}

# Когда появится домен
# demo1.mydomen.ru {
#     reverse_proxy demo1:8000
# }
